@model PlacesApp.ViewModel.Place.PlaceIndexViewModel

@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!--   Error display -->
<div>
    @if (Model.DisplayErrors)
    {
        <div id="server-errors" class="text-danger error-log">
            <strong>ERRORS:  </strong>
            @foreach (var error in Model.ErrorList)
            {<div class="row">@error.Message</div>}
            <br /><br />
        </div>
    }
    <div id="ajax-errors" class="text-danger error-log"></div>
</div>

<h2>Places</h2>

<div class="container">
    <div class="row"><label>What place are you looking for?</label></div>
    <div class="pa-search">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <div class="width-45p">
                    <button class="btn btn-default width-reset">
                        <img class="magnifying-glass" src="@Url.Content(Model.Constants.ApplicationImageDirectory)/magnifying-glass.png" />
                    </button>
                </div>
                <div class="ui-widget" id="srch-widget">
                    <input class="form-control pa-search-term" placeholder="Search" name="srch-term" id="srch-term" type="text">
                </div>
                <span id="srch-guid" hidden></span>
            </div>
        </form>
    </div>

    <div class="row">
        <span id="invalid-input" class="text-danger error-log"></span>
    </div>

    <div class="row"></div>

    
    <div class="pa-display">
        <div class="container">
            <div class="row">
                <div class="col">Description</div>
                <div class="col">Distance</div>
                <div class="col">ID</div>
                <div class="col">Types</div>
                <div class="col">OperationId</div>
            </div>
            <div class="row">
                <div class="col"><label class="result-description"></label></div>
                <div class="col"><label class="result-distance"></label></div>
                <div class="col"><label class="result-id"></label></div>
                <div class="col"><label class="result-types"></label></div>
                <div class="col"><label class="result-operationid"></label></div>
            </div>

        </div>




    </div>
</div>

@Scripts.Render("~/bundles/script/place-script")